<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="content" th:object="${grn}" th:class="grn" th:data-init="grn" th:with="
    editable=${mode == 'create' || mode == 'edit'},
    approvable=${mode == 'approve'}
">

    <div th:replace="~{fragments/breadcrumbs :: breadcrumbs(${breadcrumbs})}"></div>

    <div class="d-flex justify-content-between align-items-center mb-3 align-self-center">
        <h1 class="fs-5" th:if="${mode == 'create'}">Create GRN</h1>
        <h1 class="fs-5" th:if="${mode == 'edit'}">Edit GRN</h1>
        <h1 class="fs-5" th:if="${mode == 'view'}" th:text="'GRN #' + ${grn.id}"></h1>
        <div id="action-bar">
            <button th:if="*{status} == 'APPROVED'" type="button" class="btn btn-success" disabled><i class="bi bi-check-lg"></i>Approved</button>
            <a th:if="${mode == 'view' and #object.status == 'DRAFT'}" th:hx-post="@{/grn/{id}/approve (id=*{id}) }" hx-swap="outerHTML" hx-include="#csrf" class="btn btn-outline-secondary">Approve</a>
            <a th:if="${mode =='create'}" hx-post="/grn" hx-target="#content" hx-include="#grn-form" class="btn btn-primary">Save</a>
            <a th:if="${mode =='edit'}" th:hx-post="@{/grn/{id}/update (id=*{id})}" hx-target="#content" hx-include="#grn-form" class="btn btn-primary">Update</a>
        </div>
    </div>

    <div th:if="${#fields.hasGlobalErrors()}">
        <div th:each="err : ${#fields.globalErrors()}">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <i class="bi bi-exclamation-triangle-fill"></i>
                <span>&nbsp</span>
                <span th:text="${err}"></span>
            </div>
        </div>
    </div>

    <div th:if="${message}">
        <script th:inline="javascript">
            Toastify({
                text: /*[[${message}]]*/"Undefined",
                duration: 3000
            }).showToast();
        </script>
    </div>

    <div th:fragment="grn">
        <form hx-post="/grn" hx-target="#content" id="grn-form" class="needs-validation" novalidate>
            <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" th:field="*{status}">
            <input type="hidden" th:field="*{id}" th:if="${mode == 'edit'}">

            <div th:if="${!editable}">
                <div class="row">
                    <div class="col">
                        <table class="table table-borderless w-auto">
                            <tr>
                                <th scope="row">GRN ID</th>
                                <td th:text="*{id}"></td>
                            </tr>
                            <tr th:if="*{purchaseOrderId != null}">
                                <th>Purchase Order ID</th>
                                <td th:text="*{purchaseOrderId}"></td>
                            </tr>
                            <tr>
                                <th>Created By</th>
                                <td th:text="*{employeeName}"></td>
                            </tr>
                            <tr>
                                <th>Supplier</th>
                                <td th:text="*{supplierName}"></td>
                            </tr>
                            <tr>
                                <th>Received Date</th>
                                <td th:text="*{receivedDate}"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col">
                        <table class="table table-borderless w-auto">
                            <tr>
                                <th>Cash</th>
                                <td class="text-end" th:text="${#numbers.formatDecimal(grn.cash, 1,'COMMA', 2, 'POINT')}">12345</td>
                            </tr>
                            <tr>
                                <th>Cheques</th>
                                <td class="text-end" th:text="${#numbers.formatDecimal(grn.cheque, 1,'COMMA', 2, 'POINT')}">12345</td>
                            </tr>
                            <tr>
                                <th>Credit</th>
                                <td class="text-end" th:text="${#numbers.formatDecimal(grn.credit, 1,'COMMA', 2, 'POINT')}">12345</td>
                            </tr>
                            <tr>
                                <th>Credit Due</th>
                                <td th:text="*{creditDue}">2026-10-12</td>
                            </tr>
                        </table>
                    </div>
                </div>
                
            </div>

            <div th:if="${editable}" class="row p-2 mb-3">
                <div th:if="${mode == 'edit'}" class="col-3">
                    <label class="form-label" for="id">GRN ID</label>
                    <input class="form-control" type="text" id="id" th:field="*{id}" disabled/>
                </div>
                <div th:if="*{purchaseOrderId != null}" class="col-3">
                    <label class="form-label" for="purchaseOrderId">Purchase Order Id</label>
                    <input class="form-control" type="text" id="purchaseOrderId" th:field="*{purchaseOrderId}" readonly/>
                </div>
                <div class="col-3">
                    <label class="form-label" for="supplierName">Supplier</label>
                    <input type="hidden" th:field="*{supplierName}">
                    <select id="supplier" type="text" placeholder="Supplier" class="form-select" th:field="*{supplierId}"
                        th:classappend="${#fields.hasErrors('supplierId')} ? 'is-invalid' : ''"
                     required>
                        <option th:if="*{supplierName != null}" th:value="*{supplierId}" th:text="*{supplierName}"></option>
                    </select>

                    <div class="invalid-feedback" th:if="${#fields.hasErrors('supplierId')}" th:errors="*{supplierId}"></div>
                    <div class="invalid-feedback" th:unless="${#fields.hasErrors('supplierId')}">Supplier is required</div>
                    
                </div>
                
                <div class="col-3">
                    <label class="form-label" for="receivedDate">Received Date</label>
                    <input class="form-control" type="date" th:name="receivedDate" th:value="${grn.receivedDate}" required/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('receivedDate')}" th:errors="*{receivedDate}"></div>
                    <div class="invalid-feedback" th:unless="${#fields.hasErrors('receivedDate')}">Received Date is required</div>
                    
                </div>
            </div>

            <div class="card overflow-hidden shadow-sm">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-secondary">
                            <tr>
                                <th>Item</th>
                                <th th:if="*{purchaseOrderId != null}">Ordered Qty</th>
                                <th>Received Qty</th>
                                <th>Rejected Qty</th>
                                <th>Accepted Qty</th>
                                <th th:if="*{purchaseOrderId != null}">Ordered Price</th>
                                <th>Unit Price</th>
                                <th>Sub Total</th>
                                <th></th>
                            </tr>
                        </thead>
        
                        <tbody id="grn-row-container">
                            <tr th:each="item,itemStat : *{items}" class="grn-row">
                                <td>
                                    <input type="hidden" class="ordered-qty" th:if="*{purchaseOrderId == null}" th:field="*{items[__${itemStat.index}__].orderedQty}">
                                    <input type="hidden" class="ordered-price" th:if="*{purchaseOrderId == null}" th:field="*{items[__${itemStat.index}__].orderedPrice}">
                                    <input type="text" class="form-control-plaintext item-name" th:field="*{items[__${itemStat.index}__].itemName}" readonly></input>
                                    <input class="grn-input item-id" type="hidden" th:field="*{items[__${itemStat.index}__].itemId}">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('items[' + itemStat.index + '].itemId')}" 
                                       th:errors="*{items[__${itemStat.index}__].itemId}"></div>
                                </td>
                                <td th:if="*{purchaseOrderId != null}">
                                    <span th:if="${!editable}" th:text="${item.orderedQty}"></span>
                                    <input th:if="${editable}" type="text" class="ordered-qty form-control-plaintext" th:field="*{items[__${itemStat.index}__].orderedQty}" readonly> 
                                </td>
                                <td>
                                    <span th:if="${!editable}" th:text="${item.receivedQty}"></span>
                                    <input th:if="${editable}" type="text" data-action="grn:subtotal" class="received-qty form-control" th:field="*{items[__${itemStat.index}__].receivedQty}"> 
                                </td>
                                <td>
                                    <span th:if="${!editable}" th:text="${item.rejectedQty}"></span>
                                    <input th:if="${editable}" type="text" data-action="grn:subtotal" class="rejected-qty form-control" th:field="*{items[__${itemStat.index}__].rejectedQty}">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('items[' + itemStat.index + '].rejectedQty')}" 
                                       th:errors="*{items[__${itemStat.index}__].rejectedQty}"></div>   
                                </td>
                                <td>
                                    <span th:if="${!editable}" th:text="${item.acceptedQty}"></span>
                                    <input th:if="${editable}" type="text" class="accepted-qty form-control-plaintext" th:field="*{items[__${itemStat.index}__].acceptedQty}">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('items[' + itemStat.index + '].acceptedQty')}" 
                                       th:errors="*{items[__${itemStat.index}__].acceptedQty}"></div>   
                                </td>
                                
                                <td th:if="*{purchaseOrderId != null}">
                                    <span th:if="${!editable}" th:text="${item.orderedPrice}"></span>
                                    <input th:if="${editable}" type="text" class="ordered-price form-control-plaintext" th:field="*{items[__${itemStat.index}__].orderedPrice}" readonly> 
                                </td>
                                <td>
                                    <span th:if="${!editable}" th:text="${item.unitPrice}"></span>
                                    <input th:if="${editable}" type="text" data-action="grn:subtotal" class="grn-input unit-price form-control" th:field="*{items[__${itemStat.index}__].unitPrice}">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('items[' + itemStat.index + '].unitPrice')}" 
                                       th:errors="*{items[__${itemStat.index}__].unitPrice}"></div>
                                </td>
                                <td>
                                    <span th:if="${!editable}" th:text="${item.getSubTotal()}"></span>
                                    <input th:if="${editable}" class="subtotal form-control" th:value="${item.getSubTotal()}">
                                </td>
                                <td><button th:if="${editable and #object.purchaseOrderId == null}" class="btn btn-outline-danger" type="button" data-action="grn:remove-item"><i class="bi bi-trash"></i></button></td>
                            </tr>
                        </tbody>
        
                        <tfoot>
                            <tr th:if="${editable and #object.purchaseOrderId == null}">
                                <td>
                                    <select id="f-id">
                                    </select>
                                </td>
                                <td th:if="${purchaseOrderId != null}"></td>
                                <td><input class="form-control received-qty" data-action="grn:subtotal" id="f-received-qty" type="number"/></td>
                                <td><input class="form-control rejected-qty" data-action="grn:subtotal" id="f-rejected-qty" type="number"/></td>
                                <td><input class="form-control accepted-qty" id="f-accepted-qty" type="number" readonly/></td>
                                <td th:if="${purchaseOrderId != null}"></td>
                                <td><input class="form-control unit-price" data-action="grn:subtotal" id="f-price" type="number"/></td>
                                <td><input class="form-control subtotal" id="f-subtotal" type="number" placeholder="Sub Total" readonly/></td>
                                <td><button class="btn btn-primary" type="button" data-action="grn:add-item"><i class="bi bi-plus"></i></button></td>
                            </tr>
                            
                            <tr>
                                <td th:if = "*{purchaseOrderId == null}" colspan="5" class="text-end">Grand Total:</td>
                                <td th:if = "*{purchaseOrderId != null}" colspan="7" class="text-end">Grand Total:</td>
                                <td id="grand-total" colspan="2" th:text="*{getGrandTotal()}">0</td>
                            </tr>
                        </tfoot>
                    </table>

                    <template th:if="${editable}" id="grn-row-template">
                        <tr class="grn-row">
                            <td>
                                <input type="hidden" class="ordered-qty" th:if="*{purchaseOrderId == null}">
                                <input type="hidden" class="ordered-price" th:if="*{purchaseOrderId == null}">
                                <input type="text" class="form-control-plaintext item-name" readonly></input>
                                <input class="grn-input item-id" type="hidden">
                                <div class="invalid-feedback item-error"></div>
                            </td>
                            <td th:if="*{purchaseOrderId != null}">
                                <input type="text" class="ordered-qty form-control-plaintext" readonly> 
                            </td>
                            <td>
                                <input type="text" class="received-qty form-control" data-action="grn:subtotal"> 
                            </td>
                            <td>
                                <input type="text" class="rejected-qty form-control" data-action="grn:subtotal">
                                <div class="invalid-feedback rejected-qty-error"></div>   
                            </td>
                            <td>
                                <input type="text" class="accepted-qty form-control-plaintext">
                                <div class="invalid-feedback accepted-qty-error"></div>   
                            </td>
                            
                            <td th:if="*{purchaseOrderId != null}">
                                <input type="text" class="ordered-price form-control-plaintext" readonly> 
                            </td>
                            <td>
                                <input type="text" class="grn-input unit-price form-control" data-action="grn:subtotal">
                                <div class="invalid-feedback price-error"></div>
                            </td>
                            <td><input class="form-control subtotal" type="number" placeholder="Sub Total" readonly/></td>
                            <td><button class="btn btn-outline-danger" type="button" data-action="grn:remove-item"><i class="bi bi-trash"></i></button></td>
                        </tr>
                    </template>
    
                </div>
            </div>
        
            <!-- <div class="container"> -->
                <div class="container p-2 mt-3" th:if="${editable}">
                    <div class="row">
                        <div class="col-3">
                            <label class="form-label" for="cash">Cash</label>
                            <input type="number" class="form-control text-end" id="cash" name="cash" step="0.01" th:value="*{cash}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label class="form-label" for="cheques">Cheques</label>
                            <input type="number" class="form-control" id="cheques" name="cheque" step="0.01" th:value="*{cheque}">
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-3">
                            <label class="form-label" for="credit">Credit</label>
                            <input type="number" class="form-control" id="credit" name="credit" step="0.01" th:value="*{credit}">
                        </div>
                        <div class="col-3">
                            <label class="form-label" for="dueDate">Due date</label>
                            <input type="date" class="form-control" id="dueDate" name="creditDue" th:value="*{creditDue}">
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </form>
    </div>
    
</div>



</html>