<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="content">
        
        <div th:replace="~{fragments/breadcrumbs :: breadcrumbs(${breadcrumbs})}"></div>

        <div class="d-flex justify-content-between align-items-center mb-3 align-self-center">
            <h1 class="fs-5">Items</h1>
            <a hx-get="/items/create" hx-target="#content" class="btn btn-primary">Create Item</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Code</th>
                <th>Supplier</th>
                <th>Item Name   </th>
                <th>Category</th>
                <th>UOM</th>
                <th class="text-end">Reorder Level</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.code}"></td>
                <td th:text="${item.supplierName}"></td>
                <td th:text="${item.itemName}"></td>
                <td th:text="${item.categoryName}"></td>
                <td th:text="${item.unit}"></td>
                <td class="text-end"
                    th:text="${item.reorderLevel}"></td>
                <td>
                    <a th:hx-get="@{/items/{id}/edit (id=${item.itemId}) }" hx-target="#content" th:hx-vals='|{"page":${page.getNumber()},"size":${page.getSize()}}|' class="btn btn-sm btn-outline-primary">Edit</a>
                    <a th:hx-delete="@{/items/{id} (id=${item.itemId}) }" 
                       th:hx-headers='|{"${_csrf.headerName}": "${_csrf.token}"}|'
                       hx-target="closest tr"
                       hx-swap="outerHTML swap:0.5s"
                       hx-confirm="Are you sure you want to delete this item?"
                       class="btn btn-sm btn-outline-danger"
                    > Delete </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:replace="~{fragments/pagination :: pagination(target='#content',baseUrl='/items',page=${page})}"></div>
    </div>
</html>