<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="content">

    <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>

    <a hx-get="/users/create" hx-target="#content" class="btn btn-primary">Add User</a>
    <a hx-get="/users/reset-password" hx-target="#content" class="btn btn-primary">Reset Password</a>

    <div th:if="${toastMessage}">
        <script th:inline="javascript">
            Toastify({
                text: /*[[${toastMessage}]]*/"Undefined",
                duration: 3000
            }).showToast();
        </script>
    </div>

    <table class="table table-sm">
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td>
                <!-- Iterate through the authorities set -->
                <span th:each="auth : ${user.authorities}"  
                      th:text="${auth.getAuthority()}" 
                      class="badge rounded-pill bg-secondary me-1" ></span>

            </td>
            <td th:text="${user.enabled ? 'Active' : 'Inactive'}"></td>
            <td>
                <!-- Show Deactivate button only if user is active -->
                <form th:if="${user.enabled}" hx-post="/users/deactivate" hx-target="#content">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="hidden" name="username" th:value="${user.username}" />
                    <button type="submit" class="btn btn-sm btn-outline-danger">Deactivate</button>
                </form>
                
                <!-- Show Activate button only if user is inactive -->
                <form th:if="${!user.enabled}" hx-post="/users/activate" hx-target="#content">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="hidden" name="username" th:value="${user.username}" />
                    <button type="submit" class="btn btn-sm btn-outline-success">Activate</button>
                </form>
            </td>
        </tr>
    </table>
</div>