<html xmlns:th="http://www.thymeleaf.org">
<tr class="combobox-oob-parent" th:fragment="newItemRow">
    <td>
        <div th:replace="~{fragments/combobox :: 
            combobox('itemName',
            '/inventory/itemlist',
            ${ {'itemId':item.itemId,'batchId':item.batchId,'itemName':item.itemName} },
            ${item.itemName})}">
        </div>
    </td>
    <td><input type="text" class="form-control" id="qty" name="qty" th:value="${item.qty}"
        hx-post="/invoices/recalculate" 
        hx-target="#invoice-new-item" 
        hx-trigger="keyup changed delay:500ms" 
        hx-swap="innerHTML"
        hx-params="not *"
        hx-include="#invoice-new-item">
    </td>
    <td><input type="text" class="form-control" id="freeQty" name="freeQty" th:value="${item.freeQty}"></td>
    <td><input type="text" class="form-control combobox-oob-itemPrice" id="price" name="price" th:value="${item.price}"></td>
    <td><input type="text" class="form-control" id="discount" name="discount" th:value="${item.discount}"></td>
    <td colspan="2"><input type="button" class="btn btn-primary" value="Add Item"></td>
</tr>
</html>