<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>3R Marketing</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-icons-1.13.1.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/toastify.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/combobox.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tom-select.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tom-select-bootstrap5.css}"/>
</head>

<body class="container-fluid bg-body-tertiary">

    <div class="row container-fluid p-0" >

        <div class="col-2 p-0 vh-100 d-flex flex-column sticky-top scrollable-sidebar" style="overflow-y: auto;">
            <div id="branding" class="text-bg-light pt-3 ps-3">
                <img th:src="@{/img/3r64.png}" src="../static/img/3r64.png" width="32" height="32" class="me-2">
                <span class="fw-semibold">3R Marketing</span>

            </div>
            <nav class="text-bg-light p-3 d-flex flex-column vh-100">

                <a hx-get="/" hx-target="#content" class="btn btn btn-light text-start"><i class="bi bi-speedometer2"></i><span class="ms-2">Dashboard</span></a>
                <a hx-get="/users" sec:authorize="hasRole('ADMIN')" hx-target="#content" class="btn btn btn-light text-start"><i class="bi bi-person"></i><span class="ms-2">Users</span></a>
                <a hx-get="/employees" sec:authorize="hasAnyRole('ADMIN','HR','MANAGER')" hx-target="#content" class="btn btn btn-light text-start"><i class="bi bi-person-vcard"></i><span class="ms-2">Employees</span></a>
                <a hx-get="/suppliers" sec:authorize="hasAnyRole('ADMIN','MANAGER','STOREKEEPER','CLERK','SALESMAN')" hx-target="#content" class="btn btn btn-light text-start"><i class="bi bi-truck"></i><span class="ms-2">Suppliers</span></a>
                <a hx-get="/customers" hx-target="#content" class="btn btn btn-light text-start"><i class="bi bi-shop-window"></i><span class="ms-2">Customers</span></a>
                <a hx-get="/creditors" hx-target="#content" class="btn btn btn-light text-start"><i class="bi bi-journal-arrow-up"></i><span class="ms-2">Creditors</span></a>
                <a hx-get="/debtors" hx-target="#content" class="btn btn btn-light text-start"><i class="bi bi-journal-arrow-down"></i><span class="ms-2">Debtors</span></a>
                <a hx-get="/items" hx-target="#content" class="btn btn btn-light text-start"><i class="bi bi-boxes"></i><span class="ms-2">Items</span></a>
                <a hx-get="/categories" hx-target="#content" class="btn btn btn-light text-start"><i class="bi bi-tags"></i><span class="ms-2">Categories</span></a>
                <a hx-get="/inventory" hx-target="#content" class="btn btn btn-light text-start"><i class="bi bi-list-check"></i><span class="ms-2">Inventory</span></a>
                <a href="#" class="btn btn btn-light text-start"><i class="bi bi-car-front"></i><span class="ms-2">Vehicles</span></a>
                <a href="#" class="btn btn btn-light text-start"><i class="bi bi-map"></i><span class="ms-2">Routes</span></a>
                <a hx-get="/invoices" hx-target="#content"  class="btn btn btn-light text-start"><i class="bi bi-receipt"></i><span class="ms-2">Invoice</span></a>
                <a hx-get="/grn" hx-target="#content" class="btn btn btn-light text-start"><i class="bi bi-journal-arrow-down"></i><span class="ms-2">GRN</span></a>
                <a hx-get="/purchase-orders" hx-target="#content" class="btn btn btn-light text-start"><i class="bi bi-journal-plus"></i><span class="ms-2">Purchase Order</span></a>
                <a hx-get="/cash-balancing" hx-target="#content" class="btn btn btn-light text-start"><i class="bi bi-currency-dollar"></i><span class="ms-2">Cash Balancing</span></a>
                <a hx-get="/ledger" hx-target="#content" class="btn btn btn-light text-start"><i class="bi bi-wallet2"></i><span class="ms-2">Income / Expenses</span></a>
                <a hx-get="/reports" hx-target="#content" class="btn btn btn-light text-start"><i class="bi bi-file-earmark-bar-graph"></i><span class="ms-2">Reports</span></a>
                <a href="#" class="btn btn btn-light text-start"><i class="bi bi-cash-coin"></i><span class="ms-2">Cheques</span></a>
                
                <!-- Change password-->
                <a hx-get="/users/change-password" hx-target="#content" class="btn btn btn-light text-start"><i class="bi bi-key"></i><span class="ms-2">Change Password</span></a>


                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn btn-light text-start"><i class="bi bi-box-arrow-right"></i><span class="ms-2">Log Out</span></button>
                </form>
                <a hx-get="/users/profile" hx-target="#content" class="btn btn btn-light text-start">
                    <i class="bi bi-person-circle"></i>
                    <span class="ms-2 fs-6" th:text="${employeeName}+'Surname mm'">Lahiru Jaysinghe</span>
                </a>
            </nav>

            </nav>
    

        </div>

        <!-- Main content -->
        <div class="col" id="content" th:insert="~{${content}::content}">
            Content goes here
        </div>

    </div>

    <div class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex" id="toast-container">
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>


    <script type="text/javascript" th:src="@{/js/htmx-2.0.8.min.js}"></script>
    <!-- <script type="text/javascript" th:src="@{/js/hyperscript-0.9.14.js}"></script> -->
    <script type="text/javascript" th:src="@{/js/jquery-3.7.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/toastify.js}"></script>
    <script type="text/javascript" th:src="@{/js/tom-select-complete.js}"></script>
    <!-- <script type="text/javascript" th:src="@{/js/alpinejs-3.15.8.js}"></script> -->
    <!-- <script type="text/javascript" th:src="@{/js/combobox.js}"></script> -->
    <!-- <script type="text/javascript" th:src="@{/js/script.js}"></script> -->
    <script type="module" th:src="@{/js/core/app.js}"></script>
    <script type="module" th:src="@{/js/core/init-registry.js}"></script>
    <script type="module" th:src="@{/js/modules/purchase-order.js}"></script>
    <script type="module" th:src="@{/js/modules/grn.js}"></script>
    <script type="module" th:src="@{/js/modules/invoice.js}"></script>
    <script type="module" th:src="@{/js/modules/supplier-payment.js}"></script>
    <script type="module" th:src="@{/js/modules/customer-payment.js}"></script>
    <script type="module" th:src="@{/js/modules/cash-balancing.js}"></script>
    <script type="module" th:src="@{/js/modules/ledger.js}"></script>
    <script type="module" th:src="@{/js/modules/user.js}"></script>
</body>

</html>