<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
    <link href="../../resources/static/bootstrap-5.3.8-dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">Col 1 </div>
            <div class="col-sm-8">Col 2</div>
        </div>
        <div class="row">
            <div class="col-sm-6">Col 1 </div>
            <div class="col-sm-6">Col 2</div>
        </div> 
    </div>

    <script src="../../resources/static/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>