<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="content" th:object = ${po} th:class="purchase-order">
    <script type="text/javascript" th:src="@{/js/purchase-order.js}"></script>

    <div th:replace="~{fragments/breadcrumbs :: breadcrumbs(${breadcrumbs})}"></div>

    <div class="d-flex justify-content-between align-items-center mb-3 align-self-center">
        <h1 class="fs-5" th:if="${mode == 'create'}">Create Purchase Order</h1>
        <h1 class="fs-5" th:if="${mode == 'edit'}">Edit Purchase Order</h1>
    </div>

    <div th:if="${message}">
        <script th:inline="javascript">
            Toastify({
                text: /*[[${message}]]*/"Undefined",
                duration: 3000
            }).showToast();
        </script>
    </div>

    <div th:fragment="purchase-order">
        <form hx-post="/purchase-orders" hx-target="#content" class="needs-validation">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="row p-2 mb-3">
                <div class="col-3">
                    <label class="form-label" for="supplier">Supplier</label>
                    <select id="supplier" type="text" placeholder="Supplier"
                        th:classappend="${#fields.hasErrors('supplierId')} ? 'is-invalid' : ''"
                    ></select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('supplierId')}" 
                                   th:errors="*{supplierId}"></div>
                </div>
                
                <div class="col-3">
                    <label class="form-label" for="orderDate">Order Date</label>
                    <input class="form-control" type="date" th:field="*{orderDate}"/>
                    <p th:if="${#fields.hasErrors('orderDate')}" 
                                   th:errors="*{orderDate}"></p>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Sub Total</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="po-row-container">
                    <tr th:each="item,itemStat : *{items}" class="po-row">
                        <td>
                            <input type="text" class="itemName" th:field="*{items[__${itemStat.index}__].name}" readonly></input>
                            <input class="po-input itemid" type="hidden" th:field="*{items[__${itemStat.index}__].itemId}">
                            <p th:if="${#fields.hasErrors('items[' + itemStat.index + '].itemId')}" 
                               th:errors="*{items[__${itemStat.index}__].itemId}"></p>
                        </td>
                        <td>
                            <input class="po-input qty" type="text" th:field="*{items[__${itemStat.index}__].qty}" oninput="calculateSubTotal(this)">
                            <p th:if="${#fields.hasErrors('items[' + itemStat.index + '].qty')}" 
                               th:errors="*{items[__${itemStat.index}__].qty}"></p>
                        </td>
                        <td><input class="po-input price" type="text" th:field="*{items[__${itemStat.index}__].price}" oninput="calculateSubTotal(this)"></td>
                            <p th:if="${#fields.hasErrors('items[' + itemStat.index + '].price')}" 
                               th:errors="*{items[__${itemStat.index}__].price}"></p>
                        <td class="subtotal" th:if="${item.price != null and item.qty != null}" th:text="${item.price * item.qty}"></td>
                        <td><button type="button" onclick="removeRow(this)">Remove</button></td>
                    </tr>
                </tbody>
                <tfoot >
                    <tr>
                        <td><select id="f-id" type=text placeholder="Item Id"></select></td>
                        <td><input id="f-qty" type=number placeholder="Quantity"/></td>
                        <td><input id="f-price" type=number placeholder="Unit Price"/></td>
                        <td><input type=number placeholder="Sub Total" readonly/></td>
                        <td><button type="button" onClick="addItem()">Add Item</button></td>
                    </tr>
                </tfoot>
            </table>
            <input type="submit">
        </form>
        <p id="grand-total"></p>
    </div>
    
</div>

</html>