<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="content">

    <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div th:replace="~{fragments/breadcrumbs :: breadcrumbs(${breadcrumbs})}"></div>

    <div class="d-flex justify-content-between align-items-center mb-3 align-self-center">
        <h1 class="fs-5">Creditors</h1>
        <div>
            <button hx-get="/grn/create" hx-target="#content" class="btn btn-primary">Make a payment</button>
        </div>
    </div>

    <div>
        
    </div>

</div>